/*
|--------------------------------------------------------------------------
| ROOT
|--------------------------------------------------------------------------
*/

.welcome-root {

    /*
     * Imagen de fondo
     */

    -fx-background-image:
        url("./imgs/welcome_wallpaper.jpeg");

    /*
     * Ajustes imagen
     */

    -fx-background-size: cover;

    -fx-background-position: center center;

    -fx-background-repeat: no-repeat;
}


/*
|--------------------------------------------------------------------------
| TITULO
|--------------------------------------------------------------------------
*/

.title-label {

    -fx-font-size: 42px;

    -fx-font-weight: bold;

    -fx-text-fill: white;

    -fx-effect:
        dropshadow(
            gaussian,
            rgba(0,0,0,0.8),
            10,
            0.5,
            0,
            2);
}


/*
|--------------------------------------------------------------------------
| BOTONES
|--------------------------------------------------------------------------
*/

.button {

    -fx-background-color:
        linear-gradient(
            to bottom,
            #4b4b4b,
            #2f2f2f);

    -fx-text-fill: white;

    -fx-font-size: 16px;

    -fx-font-weight: bold;

    -fx-padding: 12 28 12 28;

    -fx-background-radius: 12;

    -fx-border-radius: 12;

    -fx-border-color: #666666;

    -fx-cursor: hand;
}


/*
|--------------------------------------------------------------------------
| HOVER
|--------------------------------------------------------------------------
*/

.button:hover {

    -fx-background-color:
        linear-gradient(
            to bottom,
            #616161,
            #424242);

    -fx-scale-x: 1.04;

    -fx-scale-y: 1.04;
}